{
  "Hostname": "srv1.example.com.",
  "HostmasterEmailAddress": "hostmaster.srv1.example.com.",
  "Schemas": [{
    "Name": "flat",
    "KVBackend": "consul",
    "KVAddress": "127.0.0.1:8500"
  }]
}
